################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Taghche/bin/Debug/net7.0
/Taghche/obj
